.wrapPlay{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boxCnt {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.boxCnt > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 10px solid rgb(1, 255, 86);
}
.boxCnt > div:first-child{
  border-right:5px solid rgb(1, 255, 86);
}
.boxCnt > div + div{
  border-left:5px solid rgb(1, 255, 86);
}

.boxImg{
  display: flex;
  justify-content: center;
  width:200px;
  margin-top:10px;
  border:0;
}
.boxImg img{
  display:inline-block;
  width:100%;
}
.boxBtn{
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.boxBtn button + button{margin-left:20px}

.win {color: green;}
.win .boxImg{border: 10px solid green;}
.lose {color: red;}
.lose .boxImg{border: 5px solid red;}
.tie {color: black;}
.tie .boxImg{border: 5px solid black;}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color:rgb(101, 236, 24);
  cursor: pointer;
  transition: border-color 0.25s;
  color:#fff;
  font-weight:bold
}
button:hover {
  border:2px solid rgb(26, 62, 38)
}
button:focus,
button:focus-visible {
  outline: 4px auto rgb(49, 79, 32);;
}

