*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

input, button, select, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}
